{layout '../@layout.latte'}

{block menu}{/block}
{block topMenu}{/block}
{block layoutStyles}
    <style>
        #content {
            margin-left: auto;
            margin-top: auto;
        }
    </style>
{/block}
