parameters:
    libsDir: %appDir%/../libs

php:
    date.timezone: Europe/Prague

nette:
    application:
        errorPresenter: Error
        mapping:
            *: App\*Module\*Presenter

    mailer:
        smtp: %mailer.smtp%
        host: %mailer.host%
        port: %mailer.port%
        username: %mailer.username%
        password: %mailer.password%
        secure: %mailer.secure%

    session:
        expiration: 14 days
        name: netiso

extensions:
    webloader: WebLoader\Nette\Extension

services:
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

    wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
    cssMin: Services\CssMin

    - Services\Security\Authenticator

    - LeanMapper\Connection(%db%)
    - Model\StandardMapper

factories:

webloader:
    css:
        default:
            files:
                - screen.css
                - tables.css
            filters:
                - @wlCssFilter
                - @cssMin
    js:
        default:
            remoteFiles:
                - http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js
                - http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js
                - http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/i18n/jquery-ui-i18n.min.js
            files:
                - %libsDir%/composer/nette/nette/client-side/netteForms.js
                - {files: ["*.js"], from: %wwwDir%/js} # Nette\Utils\Finder support
