body {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: white;
    font-family: Tahoma, serif;
}

h1 {
    color: #3484D2;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="error:"] {
    background: red;
    color: white;
}

form tr, form td {
    vertical-align: top;
    font-weight: normal;
}

form tr {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

html.js .jshidden {
    display: none;
}


/* MAIN LAYOUT */
#menu, #topMenu {
    position: fixed;
}

#topMenu {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

#menu {
    top: 50px;
}

#content {
    margin-left: 200px;
    margin-top: 50px;
}

td {
    padding: 0 10px;
}

table.list {
    border-collapse: collapse;
}

table.list td, table.list th {
    border: 1px solid grey;
}
